<!-- Header Component -->
<header class="header-bar position-fixed w-100">
  <nav class="navbar navbar-expand-lg bg-white">
      <div class="container">
          <a class="navbar-brand p-0 m-0" href="/">
              <img src="../../../../assets/images/home/header-logo.svg" class="img-fluid" alt="header-logo"/>
          </a>
          <div class="headerBtn d-flex align-items-center ms-auto">
              <a href="/login" class="btn btn-outline btn-outline-secondary d-inline-flex me-3" type="button">Log in <em class="icon-right-icon ms-2"></em></a>
              <a href="/register" class="btn btn-primary d-inline-flex" type="button">Get Started </a>
          </div>
      </div>
  </nav>
</header>
<main class="mainContent">
  <!-- Banner Section  -->
  <section class="bannerSec">
      <div class="container">
          <div class="bannerSec_cnt w-100">
              <h1>Welcome to ARTI: Your AI-Powered<br/> Dental Assistant</h1>
              <p>Artifical Intelligence is here to help identify dental disease. Your dentists <br class="d-lg-block d-none"/> is using every tool available to deliver top care to all patients.</p>
              <a href="/register" class="btn btn-primary btn-icon d-inline-flex align-items-center">
                Get Started <span class="btn-withIcon btn-withIcon-light"><em class="icon-right-icon"></em></span></a>
          </div>
          <div class="bannerSec_img">
              <img src="../../../../assets/images/home/banner-img.png" class="img-fluid" alt="bannerSec-img"/>
          </div>
      </div>
  </section>
  <!-- !! Banner Section  -->

  <section class="joinArti py-70">
      <div class="container">
          <div class="row mb-5 align-items-center">
              <div class="col-xl-2 col-md-3 text-md-start text-center" data-aos="fade-up">
                  <img src="../../../../assets/images/home/logo-about.svg" class="img-fluid joinArti-logo" alt="logo-about"/>
              </div>
              <div class="col-xl-8 col-md-6">
                  <div class="commonHead mb-0" data-aos="fade-up">
                      <h2 class="commonHead_title text-center mb-0">
                          <span>Join the AI revolution in dentistry with ARTI</span> improving patient care, one X-ray at a time.
                      </h2>
                  </div>
              </div>
              <div class="col-xl-2 col-md-3 text-md-start text-center" data-aos="fade-up">
                  <a href="/register" class="btn btn-primary btn-icon d-inline-flex align-items-center">Get Started <span class="btn-withIcon btn-withIcon-light"><em class="icon-right-icon"></em></span></a>
              </div>
          </div>
          
          <div class="row">
              <div class="col-md-6">
                  <div class="joinArti_card" data-aos="fade-up">
                      <img src="../../../../assets/images/home/about-1.png" class="img-fluid" alt="about-1" />
                      <div class="joinArti_card_cnt">
                          <h3>Enhanced Cavity Detection</h3>
                          <p>Instantly identify cavities in digital X-rays with high accuracy. Boost Diagnostic Confidence: Support your clinical expertise with AI-powered insights.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="joinArti_card" data-aos="fade-up">
                      <img src="../../../../assets/images/home/about-2.png" class="img-fluid" alt="about-2" />
                      <div class="joinArti_card_cnt">
                          <h3>Time-Efficient</h3>
                          <p>Streamline your workflow and focus more on patient care with quicker diagnoses. What's Next for ARTI?</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Revolutionizing  section  -->
   <section class="revolution py-70">
      <div class="container">
          <div class="commonHead text-center" data-aos="fade-up" data-aos-duration="1000">
              <h2 class="commonHead_title">
              Revolutionizing Dental Diagnostics<br/>
              with the Power of AI
              </h2>
              <p>Artifical Intelligence is here to help identify dental disease. Your dentists is using<br/>
              every tool available to deliver top care to all patients.</p>
          </div>

          <div class="row g-3">
              <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                  <div class="revolution_card">
                      <div class="revolution_card_img">
                          <img src="../../../../assets/images/home/revolution-1.png" class="img-fluid w-100" alt="revolution-1"/>
                      </div>
                      <div class="revolution_card_cnt">
                          <h3>Advanced AI X-ray Analysis</h3>
                          <p>Boost diagnostic accuracy with Al-powered identification of dental issues.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="2000">
                  <div class="revolution_card">
                      <div class="revolution_card_img">
                          <img src="../../../../assets/images/home/revolution-2.png" class="img-fluid w-100" alt="revolution-2"/>
                      </div>
                      <div class="revolution_card_cnt">
                          <h3>Objective Second Opinion</h3>
                          <p>Increase patient trust with an unbiased, data-driven diagnosis.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="3000">
                  <div class="revolution_card">
                      <div class="revolution_card_img">
                          <img src="../../../../assets/images/home/revolution-3.png" class="img-fluid w-100" alt="revolution-3"/>
                      </div>
                      <div class="revolution_card_cnt">
                          <h3>Cutting-Edge Technology</h3>
                          <p>Elevate your practice's reputation with ARTI's
                          innovative solutions.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
   </section>
  <!-- !! Revolutionizing  section  -->

  <section class="subscription py-70">
      <div class="container container-lg">
          <!-- <div class="commonHead text-center">
              <h2 class="commonHead_title">
              Please Choose Your <br/>
              Subscription Plan
              </h2>
              <p>Try ARTI AI free for 30 days, no credit card required</p>
          </div> -->
          <app-subscription-plans
              [monthlyPlans]="monthlyPlans"
              [yearlyPlans]="yearlyPlans"
              [userCountry]="userCountry"
              [loading]="loading">
          </app-subscription-plans>
          <div class="subscription_info">
              <div class="d-flex align-items-center justify-content-center mt-3">
                  <a href="/register" class="btn btn-primary btn-icon d-inline-flex align-items-center">Get Started <span class="btn-withIcon btn-withIcon-light"><em class="icon-right-icon"></em></span></a>
              </div>
          </div>
      </div>
  </section>

  <section class="assistDental pb-0">
      <div class="container">
          <div class="row g-0">
              <div class="col-md-5">
                  <img src="../../../../assets/images/home/assits-dental.png" class="img-fluid" alt="assits-dental"/>
              </div>
              <div class="col-md-7">
                  <div class="assistDental_right">
                      <div class="commonHead commonHead-light mb-0">
                          <h2 class="commonHead_title mb-3">Your AI-Powered Dental<br/> 
                          Assistant.</h2>
                          <p class="mb-4">ARTI is continually evolving to meet the needs of dental professionals. Our upcoming updates will introduce AI-driven detection 
                          for more complex dental conditions such as gum disease, root canal infections, and more. Stay ahead of the curve with innovative 
                          tools designed to help you deliver comprehensive dental care.</p>
                          <a href="/register" class="btn btn-light btn-icon d-inline-flex align-items-center mt-2"> Get Started <span class="btn-withIcon btn-withIcon-primary"><em class="icon-right-icon"></em></span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="sliderSect py-70">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <div class="commonHead">
                      <h2 class="commonHead_title mb-3">ARTI: Advanced<br/> AI for Dental <br/>
                      Cavity Detection</h2>
                      <p class="mb-4">4eDental Lab (USA) introducing its Revolutionary <br/> AI Technology in India.</p>
                      <a href="/register" class="btn btn-primary btn-icon d-inline-flex align-items-center">Get Started <span class="btn-withIcon btn-withIcon-light"><em class="icon-right-icon"></em></span></a>
                  </div>
              </div>
              <div class="col-lg-8">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="sliderSect_card">
                              <div class="sliderSect_card_img">
                                  <img src="../../../../assets/images/home/slide-1.png" class="img-fluid" alt="slide-img"/>
                              </div>
                              <p>Easy Printable Dental Reports for Your Patients</p>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="sliderSect_card">
                              <div class="sliderSect_card_img">
                                  <img src="../../../../assets/images/home/slide-3.png" class="img-fluid" alt="slide-img"/>
                              </div>
                              <p>QuickConnect with Your Patient Management Software or Other Clinical Softwares</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="customerSay py-70">
      <div class="container">
          <div class="commonHead commonHead-light text-center">
              <h2 class="commonHead_title">What our Customers Say</h2>
          </div>

          <!-- <div class="row"> -->
              <div class="swiper testimonial">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="customerSay_quotes">
                              <p>"I was always anxious about missing cavities during my dental check-ups, but since my dentist started using ARTI, I feel much more confident. The on-screen report clearly showed the exact location of every cavity, even the ones that were hard to spot with the naked eye. It made the process smoother and gave me peace of mind!"  </p>
                              <span>— Sarah M.</span>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="customerSay_quotes">
                              <p>"Implementing this AI-powered cavity detection app has been a game changer in my practice. It not only enhances our diagnostic accuracy but also provides clear visual evidence that patients can understand. 4eDental's ARTI has consistently helped us catch cavities early, sometimes even before they're visible to the naked eye. My patients love the transparency, and I trust the technology to support the best treatment plans."  </p>
                              <span>— Dr. Emily S.</span>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="customerSay_quotes">
                              <p>"The AI cavity detection system made my dental visit much more reassuring. Not only did it find cavities early, but it also identified spots that were likely to develop issues in the future. The detailed report made it easy to understand my treatment plan, and I really appreciate how thorough it was!"</p>
                              <span>— John D.</span>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="customerSay_quotes">
                              <p>"4eDental's ARTI has revolutionized how I conduct dental exams. It spots subtle cavities that are often missed during a standard visual check, allowing me to treat patients more proactively. My confidence in providing the most comprehensive care has skyrocketed. Patients are also more engaged in their care, as they can see the results in real time."</p>
                              <span>— Dr. Michael T.</span>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="customerSay_quotes">
                              <p>"I was amazed by the accuracy of the ARTI, the AI tool my dentist used. I've had routine check-ups before, but this time, the software found a small cavity that might have been missed otherwise. It even showed me areas of concern that I could address before they became bigger problems. I'm very impressed!"</p>
                              <span>— Emily R.</span>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="customerSay_quotes">
                              <p>"Since adopting the ARTI cavity detection system, my diagnostic process has become significantly more efficient and reliable. The app identifies potential problem areas with precision, saving time during patient consultations and reducing the risk of missed cavities. It's an invaluable tool in ensuring that nothing gets overlooked."</p>
                              <span>— Dr. Jessica R.</span>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="customerSay_quotes">
                              <p>"ARTI The AI detection system my dentist used completely changed the way I think about dental exams. It gave me a clear visual of where my cavities were and where they could form. The fact that it caught things even before they became a major issue means I can stay on top of my dental health better than ever."</p>
                              <span>— Mike L.</span>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="customerSay_quotes">
                              <p>"The ARTI App has become an indispensable part of my dental practice. It provides a second set of eyes, ensuring that no cavity goes undetected. Not only does it increase my accuracy, but it also helps patients visualize and understand their dental health better. The detailed reports make explaining treatment plans easier, leading to improved patient trust and satisfaction."</p>
                              <span>— Dr. David L.</span>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="customerSay_quotes pb-lg-0">
                              <p>"As someone who has always been nervous about dental appointments, this AI tool ARTI was a game-changer. The report was easy to understand, and I could actually see where my cavities were on the screen. It felt like I was a part of the treatment process, and that made all the difference!"</p>
                              <span>— Jessica H.</span>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="customerSay_quotes pb-0">
                              <p>"What impresses me most about this AI cavity detection software is its ability to identify even the most subtle signs of decay early on. The technology has improved my diagnostic precision, and my patients appreciate the visual insights. The app is user-friendly and integrates seamlessly into my workflow, making it a vital tool in maintaining the highest standard of care."</p>
                              <span>— Dr. Olivia M.</span>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-pagination"></div>
              </div>
          <!-- </div> -->
      </div>
  </section>
 
<!-- Orange section -->
<section class="assistDoc py-70" >
    <div class="container" >
        <div class="assistDoc_wrapper" style="background-color:  #622bc7;">
            <div class="commonHead commonHead-light">
                <h2 class="commonHead_title mb-3">
                    Welcome! ARTI is here to<br/>Assist the Doctor.
                </h2>
                <p>Artifical Intelligence is here to help identify dental disease. Your dentists<br/> is using every tool available to deliver top care to all patients.</p>
            </div>
            <a href="/pricing/:dentist_id" class="btn btn-light btn-icon d-inline-flex align-items-center">Get Started <span class="btn-withIcon btn-withIcon-primary"><em class="icon-right-icon"></em></span></a>
        </div>
    </div>
</section>
  <section class="assistDental pb-0" style="margin-bottom: 2rem;">
      <div class="container">
          <div class="row g-0">
              <div class="col-md-5">
                  <img src="../../../../assets/images/home/assits-dental.png" class="img-fluid" alt="assits-dental"/>
              </div>
              <div class="col-md-7">
                  <div class="assistDental_right">
                      <div class="commonHead commonHead-light mb-0">
                          <h2 class="commonHead_title mb-3">Your AI-Powered Dental<br/> 
                          Assistant.</h2>
                          <p class="mb-4">ARTI is continually evolving to meet the needs of dental professionals. Our upcoming updates will introduce AI-driven detection 
                          for more complex dental conditions such as gum disease, root canal infections, and more. Stay ahead of the curve with innovative 
                          tools designed to help you deliver comprehensive dental care.</p>
                          <a href="/register" class="btn btn-light btn-icon d-inline-flex align-items-center mt-2"> Get Started <span class="btn-withIcon btn-withIcon-primary"><em class="icon-right-icon"></em></span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- =================what our customers say -->
  <section class="customerSay py-70">
    <div class="container">
        <div class="commonHead commonHead-light text-center">
            <h2 class="commonHead_title">What our Customers Say</h2>
        </div>

        <!-- <div class="row"> -->
            <div class="swiper testimonial">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="customerSay_quotes">
                            <p>"I was always anxious about missing cavities during my dental check-ups, but since my dentist started using ARTI, I feel much more confident. The on-screen report clearly showed the exact location of every cavity, even the ones that were hard to spot with the naked eye. It made the process smoother and gave me peace of mind!"  </p>
                            <span>— Sarah M.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customerSay_quotes">
                            <p>"Implementing this AI-powered cavity detection app has been a game changer in my practice. It not only enhances our diagnostic accuracy but also provides clear visual evidence that patients can understand. 4eDental's ARTI has consistently helped us catch cavities early, sometimes even before they’re visible to the naked eye. My patients love the transparency, and I trust the technology to support the best treatment plans."  </p>
                            <span>— Dr. Emily S.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customerSay_quotes">
                            <p>"The AI cavity detection system made my dental visit much more reassuring. Not only did it find cavities early, but it also identified spots that were likely to develop issues in the future. The detailed report made it easy to understand my treatment plan, and I really appreciate how thorough it was!"</p>
                            <span>— John D.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customerSay_quotes">
                            <p>"4eDental's ARTI has revolutionized how I conduct dental exams. It spots subtle cavities that are often missed during a standard visual check, allowing me to treat patients more proactively. My confidence in providing the most comprehensive care has skyrocketed. Patients are also more engaged in their care, as they can see the results in real time."</p>
                            <span>— Dr. Michael T.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customerSay_quotes">
                            <p>"I was amazed by the accuracy of the ARTI, the AI tool my dentist used. I’ve had routine check-ups before, but this time, the software found a small cavity that might have been missed otherwise. It even showed me areas of concern that I could address before they became bigger problems. I’m very impressed!"</p>
                            <span>— Emily R.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customerSay_quotes">
                            <p>"Since adopting the ARTI cavity detection system, my diagnostic process has become significantly more efficient and reliable. The app identifies potential problem areas with precision, saving time during patient consultations and reducing the risk of missed cavities. It’s an invaluable tool in ensuring that nothing gets overlooked."</p>
                            <span>— Dr. Jessica R.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customerSay_quotes">
                            <p>"ARTI The AI detection system my dentist used completely changed the way I think about dental exams. It gave me a clear visual of where my cavities were and where they could form. The fact that it caught things even before they became a major issue means I can stay on top of my dental health better than ever."</p>
                            <span>— Mike L.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customerSay_quotes">
                            <p>"The ARTI App has become an indispensable part of my dental practice. It provides a second set of eyes, ensuring that no cavity goes undetected. Not only does it increase my accuracy, but it also helps patients visualize and understand their dental health better. The detailed reports make explaining treatment plans easier, leading to improved patient trust and satisfaction."</p>
                            <span>— Dr. David L.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customerSay_quotes pb-lg-0">
                            <p>"As someone who has always been nervous about dental appointments, this AI tool ARTI was a game-changer. The report was easy to understand, and I could actually see where my cavities were on the screen. It felt like I was a part of the treatment process, and that made all the difference!"</p>
                            <span>— Jessica H.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customerSay_quotes pb-0">
                            <p>"What impresses me most about this AI cavity detection software is its ability to identify even the most subtle signs of decay early on. The technology has improved my diagnostic precision, and my patients appreciate the visual insights. The app is user-friendly and integrates seamlessly into my workflow, making it a vital tool in maintaining the highest standard of care."</p>
                            <span>— Dr. Olivia M.</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        <!-- </div> -->
    </div>
</section>

<!-- ====================================Arti advanced=========================== -->
  <section class="sliderSect py-70">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <div class="commonHead">
                      <h2 class="commonHead_title mb-3">ARTI: Advanced<br/> AI for Dental <br/>
                      Cavity Detection</h2>
                      <p class="mb-4">4eDental Lab (USA) introducing its Revolutionary <br/> AI Technology in India.</p>
                      <a href="/register" class="btn btn-primary btn-icon d-inline-flex align-items-center">Get Started <span class="btn-withIcon btn-withIcon-light"><em class="icon-right-icon"></em></span></a>
                  </div>
              </div>
              <div class="col-lg-8">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="sliderSect_card">
                              <div class="sliderSect_card_img">
                                  <img src="../../../../assets/images/home/slide-1.png" class="img-fluid" alt="slide-img"/>
                              </div>
                              <p>Easy Printable Dental Reports for Your Patients</p>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="sliderSect_card">
                              <div class="sliderSect_card_img">
                                  <img src="../../../../assets/images/home/slide-3.png" class="img-fluid" alt="slide-img"/>
                              </div>
                              <p>QuickConnect with Your Patient Management Software or Other Clinical Softwares</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

</main>
<footer class="footer py-70 pb-0">
<div class="container">
  <div class="commonHead mb-0 commonHead-light">
      <h2 class="commonHead_title">
          4eDental Lab (USA) introducing its<br/>
Revolutionary AI Technology in India.<br/>
          <!-- <span>Email us:<a href="mailto:info@4edentalai.com" style="color: #ED2323;">info@4edentalai.com</a></span> -->
      </h2>
  </div>
  <div class="footer_cnt">
      <div class="row">
          <div class="col-xl-5 col-md-6 footer_cnt_left">
              <img src="../../../../assets/images/home/footer-logo.svg" class="img-fluid" alt="footer-logo"/>
              <p>ARTI is transforming the future of dentistry with cutting-edge AI<br/> technology designed specifically for dental professionals.</p>
          </div>
          <div class="col-md-2 offset-xl-3 footer_cnt_right">
              <h3>Learn</h3>
              <ul class="mb-0 list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Contact us</a></li>
              </ul>
          </div>
          <div class="col-md-2 footer_cnt_right mt-md-0 mt-4">
              <h3>Policies</h3>
              <ul class="mb-0 list-unstyled">
                  <li><a href="#">Privacy policy</a></li>
                  <li><a href="#">Terms of service</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="footer_btm">
      <div class="row">
          <div class="col-md-6">
              <p>Copyright © 2024 4eDentalAI. All rights reserved.</p>
          </div>
          <div class="col-md-6 text-end d-flex align-items-center justify-content-end">
              <h3>Contact Us</h3>
              <ul class="list-unstyled mb-0 d-flex align-items-center">
                  <li>
                      <a href="#">
                          <em class="icon-linkedin"></em>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.instagram.com/arti_4edental/">
                          <em class="icon-instagram"></em>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/profile.php?id=61565205303979&sk=reels_tab">
                          <em class="icon-facebook"></em>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
</footer>